*{
    font-family:cursive;
}

.startsida{
    background-image: linear-gradient(to right, rgb(8, 8, 56), #000000 );
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    color: white;
    text-decoration: none;
    text-shadow: -6px 3px 30px rgb(160, 12, 12), 3px -6px 50px rgb(0, 0, 255);
    background-color: rgb(19, 19, 34);
    border-radius: 30px;
    transition: 1s;
}
.container{
    width: 100%;
    height: 800px;
    background-image: 
    linear-gradient(to right, #22236442, #000000),
    url(computer.png)
    ;
}
.container:hover{
    background-image: 
    linear-gradient(to right, #22236442, transparent),
    url(computer.png)
    
    ;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 46px;
    text-transform: uppercase;
    
}

ul{
    width: 45%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
ul a{
    border-bottom: 2px solid transparent;
}
ul a:hover{
    border-bottom-color: white;
}

.content{
    transform: translate(5px,10px);
    width:35%;
    height:720px;
    overflow-y: auto;

}
.container p{
    color: white;
    padding: 10px;
    letter-spacing: 3px;
    text-shadow: -6px 3px 30px rgb(160, 12, 12), 3px -6px 50px rgb(0, 0, 255);
    font-size: large;
    z-index: 1;
}
.no{
    width:100%;
    height:100px;
    color:white;
    letter-spacing: 4px;
    word-spacing: 10px;
    text-transform: capitalize;
    text-shadow: 6px 8px 10px red, -6px -8px 10px blue;
    font-weight: bold;
}

body{
    background-image: linear-gradient(to right, rgb(8, 8, 56), #000000 );
    height: 100vh;
}
.kurs{
    background-image: linear-gradient(to right, rgba(8, 8, 56, 0.555), #000000cc), url(CSS.jpeg);
     width:400px;
    height:500px;
    transform: translate(5px, 20px);  
    border:double 10px blue;
    box-shadow: 15px 8px 40px 15px rgb(0, 4, 255);
}
.kurs:hover{
    background-image: linear-gradient(to right, transparent, transparent), 
    url(CSS.jpeg);
}
.photo{
    transform: translate(0px,15px);
}
.fotcss{
    width: 100%;
    height: 82px;
    background-image: linear-gradient(rgb(0, 0, 255),white);
    transform: translate(0px,12px);
    letter-spacing: 4px;
    word-spacing: 10px;
    text-transform: capitalize;
    text-transform: uppercase;
    text-shadow: 6px 8px 15px white, -6px -8px 15px blue;
    font-weight: bold;
}

.kurs2{
    background-image: linear-gradient(to right, rgba(8, 8, 56, 0.555), #000000cc), url(HTML.jpg);
    width:400px;
   height:500px;
   transform: translate(730px,-495px);
   border: double 10px orange;
   box-shadow: 15px 8px 40px 15px orange;
}
.kurs2:hover{
    background-image: linear-gradient(to right, transparent, transparent), 
    url(HTML.jpg);
}
.fothtml{
    width: 100%;
    height: 82px;
    background-image: linear-gradient(orange,white);
    transform: translate(0px,12px);
    letter-spacing: 4px;
    word-spacing: 10px;
    text-transform: capitalize;
    text-transform: uppercase;
    text-shadow: 6px 8px 15px black, -6px -8px 15px orange;
    font-weight: bold;
}

.kurs3{
    background-image: linear-gradient(to right, rgba(8, 8, 56, 0.555), #000000cc), url(Javascript.jpg);
    width:400px;
   height:500px;
   transform: translate(1460px,-1015px);
   border: double 10px  yellow;
   box-shadow: 15px 8px 40px 15px yellow;

}
.kurs3:hover{
    background-image: linear-gradient(to right, transparent, transparent), 
    url(Javascript.jpg);
}
.fotjavascript{
    width: 100%;
    height: 82px;
    background-image: linear-gradient(yellow,white);
    transform: translate(0px,12px);
    letter-spacing: 4px;
    word-spacing: 10px;
    text-transform: capitalize;
    text-transform: uppercase;
    text-shadow: 6px 8px 15px black, -6px -8px 15px yellow;
    font-weight: bold;
}

.kurs4{
    background-image: linear-gradient(to right, rgba(8, 8, 56, 0.555), #000000cc), url(C++.jpg);
    width:400px;
   height:500px;
   transform: translate(5px,-950px);
   border: double 10px  white; 
   box-shadow: 15px 8px 40px 15px white;
}

.kurs4:hover{
    background-image: linear-gradient(to right, transparent, transparent), 
    url(C++.jpg);
}

.fotcplus{
    width: 100%;
    height: 82px;
    background-image: linear-gradient(rgb(87, 87, 231),white);
    transform: translate(0px,12px);
    letter-spacing: 4px;
    word-spacing: 10px;
    text-transform: capitalize;
    text-transform: uppercase;
    text-shadow: 6px 8px 15px blue, -6px -8px 15px white;
    font-weight: bold;
}
.kurs5{
    background-image: linear-gradient(to right, rgba(8, 8, 56, 0.555), #000000cc), url(Csharp.jpg);
    width:400px;
   height:500px;
   transform: translate(733px,-1468px);
   border: double 10px  rgb(255, 0, 242); 
   box-shadow: 15px 8px 40px 15px rgb(255, 0, 242);
}
.kurs5:hover{
    background-image: linear-gradient(to right, transparent, transparent), 
    url(Csharp.jpg);
}

.fotcsharp{
    width: 100%;
    height: 82px;
    background-image: linear-gradient(rgb(255, 0, 242),white);
    transform: translate(0px,12px);
    letter-spacing: 4px;
    word-spacing: 10px;
    text-transform: capitalize;
    text-transform: uppercase;
    text-shadow: 6px 8px 15px rgb(255, 255, 255), -6px -8px 15px rgb(247, 0, 255);
    font-weight: bold;
}

.kurs6{
    background-image: linear-gradient(to right, rgba(8, 8, 56, 0.555), #000000cc), url(Python.png);
    width:400px;
   height:500px;
   transform: translate(1460px,-1990px);
   border: double 10px  rgb(0, 174, 255); 
   box-shadow: 15px 8px 40px 15px rgb(0, 174, 255);
}

.kurs6:hover{
    background-image: linear-gradient(to right, transparent, transparent), 
    url(Python.png);
}

.fotpython{
    width: 100%;
    height: 82px;
    background-image: linear-gradient(rgb(0, 174, 255),white);
    transform: translate(0px,12px);
    letter-spacing: 4px;
    word-spacing: 10px;
    text-transform: capitalize;
    text-transform: uppercase;
    text-shadow: 6px 8px 15px rgb(0, 174, 255), -6px -8px 15px white;
    font-weight: bold;
}

.boza{
    margin:3px;
    background-image: linear-gradient(to bottom, rgba(8, 8, 56, 0.897), #000000 );
    height: 100vh;
}

.bozza{
    margin: 2px;
    width: 100%;
    height: 75%;
    background-image: 
    linear-gradient(to bottom, #222364a9, #000000a2),
    url(Contact.jpg);
 }
.fom,h2,form,fieldset,legend{
    color: black;
    text-transform: capitalize;
    font-weight: bold;
    border: outset black 4px;
}
.fom{
    margin: 2px;
    padding: 20px;
    border: outset 4px black;
    width: 30%;
    height: 675px;
    background-image: linear-gradient(to bottom right, rgba(55, 55, 255, 0.658),rgba(255, 115, 0, 0.685));
    border-radius: 30px;
}

.fotyes{
    width: 100%;
    height:25%;
    font-size: 20px;
    font-weight: bold;
    background-image: linear-gradient(to bottom right, rgba(55, 55, 255, 0.658),rgba(255, 115, 0, 0.685));
    display: flex;
    flex-direction: column;
    border: outset 4px black;
}
.fotyes div{
    width: 30%;
    padding: 5px;
    color: black
    margin-left:20px;
    word-spacing: 2px;
    letter-spacing: 1.5px;
    text-transform: capitalize;
}
button{
    border: outset black 4px;
    font-weight: bold;
    font-size: 20px;
}

@media screen and (max-width:450px)
    {
    .logo{
        font-size: 15px;}

        .content{
            width: 100%;
        }
    }

    @media screen and (max-width:450px)
    {
        ul{
            font-size: 8px;
        }
    }

     @media screen and (max-width:450px)
    {
        .photo{
            width: 300px;
            height: 400px;
        }
        .kurs{
            width: 350px;
        }
        .kurs2{
            width: 350px;
            transform: translate(0px,2000px);
        }
        .kurs3{
            width: 350px;
            transform: translate(0px, 2100px);
        }

        .kurs4{
            width: 350px;
           transform:translate(0px,-900px) ;
        }

        .kurs5{
            width: 350px;
            transform: translate(0px,-800px);
           
        }

        .kurs6{
            width: 350px;
            transform: translate(0px,-700px);
        }
        .bozza{
            margin: 2px;
            width: 420px;
            height: 75%;
         }
         .fom{
            margin: 2px;
            padding: 20px;
            border: solid black;
            width: 80%;
            height: 650px;
            background-image: linear-gradient(to bottom right, rgba(55, 55, 255, 0.658),rgba(255, 115, 0, 0.685));
            border-radius: 30px;
        }
        .fom,form,fieldset,legend{
            font-size: 12px;
            width: 333px;
            border: outset black 2px;
        }
        .fom,h2{
            font-size: 12px;
        }    

        .fotyes{
            width: 375px;
            height:25%;
        }
        .fotyes div{
            color: black;
            width: 100%%;
            padding: 5px;
            font-size: 12px;
        }
        .are{
              width: 310px;
              height: 345px;
        }
        fieldset{
            width: 310px;
            height: 575px;
        }
        .leg{
            font-size: 18px;

        }
        button{
            font-size: 13px;
            border-radius: 8px;
        }
        
    }